---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "fi").slice(0, MAX_POSTS);

const tech: Array<{ title: string; desc: string; href: string }> = [
];
---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Tervetuloa</h1>
		<p class="mb-4 sm:mb-8">
		Kyberlaakso.fi on internetin kulmaus jonka seinille on raapustettu tekstejä kyberiin ja tietotekniikkaan liittyen. Sivustolle kirjoittelee Joni Laakso. 
		</p>
		<div>
			<span>Löydät minut näistä some-kanavista:</span>
			<SocialMediaLinks />
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Viimeisimmät blogitekstit</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				filteredPostsByLanguage.map((p) => (
					<PostPreview post={p as CollectionEntry<"blog">} />
				))
			}
		</ul>
	</section>

	<hr />
	<section class="">
		<p></p>
	</section>
</BaseLayout>
