---
import Layout from "@/layouts/Base";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">Tietoa kyberlaaksosta</h1>
	<p>
		Hei! Minä olen Joni. Pitkään mielessäni on ollut ajatus kyberiä/tietotekniikkaa sivuavan blogin aloittamisesta, joten tässä se nyt on.
	
	</p>

</Layout>
